
<div class="card">
    <div class="card-body" style="justify-content: center;">

        
        <h1 class="heading1">{{stockservice.stock.StockSymbol.description}} </h1> 
        <button  class="button">{{stockservice.stock.StockSymbol.displaySymbol}}</button>
        <div class="flex-container">
            <div *ngFor="let news of newsData">{{news.symbol}}
            
       
        <p class="year">year: {{news.year}}</p>
        <p class="month">month:{{news.month}}</p>
        <p class="change">change: {{news.change}}</p>
        <p class="mspr">mspr: {{news.mspr}}</p>
    </div>
</div>
   
</div>
</div>
<p class="abc" [routerLink]="['/home']">Return To Home</p>