.card{
    background-color: rgb(143, 164, 181);
    height: 100vh;
}
.card-body{
    height: 50vh;
    width: 55vw;
    background-color: white;
  margin-left: 150px;
  transform: translateY(200px);
  border-radius: 20px;
    
}
.heading1{
    font-size: 35px;
    color:rgb(59, 59, 77) ;
    font-family: Georgia, serif;
    margin-left: 100px;
    transform: translateY(-20px);
}
.button{
    background-color: rgb(86, 57, 216);
    color: white;
    margin-left: 25px;
    transform: translateY(-60px);
    border-radius: 8px;
    height: 30px;
    width:55px;
    font-size: 15px;
    font-family: "bolt";
    border-color:  rgb(86, 57, 216);
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
  
  .abc
  {
    text-align: center;
 
    font-size: large;
    margin-top:40px;
    color: brown;
   
    transform: translateY(-30px);

  }
  .bi
  {
    margin-right:250px;

  }
 