.invalid{
    color: red;
}
.title{
    background-color: black;

}
.data-toggle + .data-placement > .title {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }