<!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div>
    <img src="" alt="">
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>  -->

     <!-- <div class="row">
        <div class="col-md-3"></div>
    
    <div class="card" style="width: 18rem; text-align: center; ">
    <div><h3>{{flipkartDetails["Shirts"]}}</h3></div>
        <img class="student" [src]="flipkartDetails['Imagepath']" />
        <div class="card-body">
          <form [formGroup]="regFrom">
            
          <p class="card-text">Shirts:<input type="text" name="Shirts" formControlName="Shirts" [(ngModel)]=flipkartDetails.Shirts></p>
          <p class="card-text">Tshirt:<input type="text" [(ngModel)]=flipkartDetails.Tshirt></p>
          <p class="card-text">pants:<input type="text" [(ngModel)]=flipkartDetails.pants></p>
          <p class="card-text">shoes:<input type="text" [(ngModel)]=flipkartDetails.Shoes></p>
          </form>
        </div>
        <div>
         <button class="btn btn-success"(click)=upDate()>upDate</button> 
        </div>
      </div>
    </div>  -->



     <div class="row">
      <div class="col-md-8"></div>

  <div class="card" style="width: 40rem; text-align: center;">
    <div><h3>{{flipkartDetails?.["Shirts"]}}</h3></div>
      <img class="Car" [src]="flipkartDetails?.['Imagepath']" />
      <div class="card-body">
        <div class="form-group">
        <form [formGroup]="regForm" (ngSubmit)="updateFlipKart()" >
        
        <p class="card-text">Shirts:    <input type="text" formControlName="Shirts" name="Shirts" class="form-control" ></p>
        <div *ngIf="regForm.controls['Shirts'].touched&&regForm.controls['Shirts']?.['errors']"  class="invalid">
          <div *ngIf="regForm.controls['Shirts']?.['errors']?.['required']"> 
          
            Name is required
          </div>
            
            <div *ngIf="regForm.controls['Shirts']?.['errors']?.['minlength']">
              Ne name chinnaga undhi
           </div>
          

          </div>
          <p class="card-text">TShirts:    <input type="text" formControlName="Tshirts" name="Tshirts" class="form-control"  ></p>
        <div *ngIf="regForm.controls['Tshirts'].touched&&regForm.controls['Tshirts']?.['errors']"  class="invalid">
          <div *ngIf="regForm.controls['Tshirts']?.['errors']?.['required']"> 
          
            Name is required
          </div>
            
            <div *ngIf="regForm.controls['Tshirts']?.['errors']?.['minlength']">
              Ne name chinnaga undhi
           </div>
          

          </div>
         

        
         
          <p class="card-text">pants:    <input type="text" formControlName="pants" name="pants" class="form-control"  ></p>
          <div *ngIf="regForm.controls['pants'].touched&&regForm.controls['pants']?.['errors']"  class="invalid">
            <div *ngIf="regForm.controls['pants']?.['errors']?.['required']"> 
            
              Name is required
            </div>
              
              <div *ngIf="regForm.controls['pants']?.['errors']?.['minlength']">
                Ne name chinnaga undhi
             </div>
            
  
            </div>
            <p class="card-text">Shoes:    <input type="text" formControlName="shoes" name="shoes" class="form-control" ></p>
            <div *ngIf="regForm.controls['shoes'].touched&&regForm.controls['shoes']?.['errors']"  class="invalid">
              <div *ngIf="regForm.controls['shoes']?.['errors']?.['required']"> 
              
                Name is required
              </div>
                
                <div *ngIf="regForm.controls['shoes']?.['errors']?.['minlength']">
                  Ne name chinnaga undhi
               </div>
              
    
              </div>
      
      
      <div>
        <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Tooltip on top">update</button>
      </div>
</form>
        </div>  
