 <!-- <h1>Anil</h1>

  <div class="card w-50 mx-auto mt-4">
            <h3 class="card-heard text-center">sign up</h3>
            <div class="card-body">
             <form action="" #r= ngForm>
                <div class="from-group">
                    <label>FullName</label>
                <input type="text" ngModel name="fullName" class="form-control" minlength="4" required>
                <div *ngIf="r.controls['fullName']?.['touched'] && r.controls['fullName']?.['errors']" class="invalid">
            <div *ngIf="r.controls['fullName']?.['errors']?.['required']"> 
                  
            Name is Not required
            </div>
           <div *ngIf="r.controls['fullName']?.['errors']?.['minlength']">
                Ne name chinnaga undhi
             </div>
                </div>
            </div>
            
            <div class="from-group">
                <label>Email</label>
            <input type="email" ngModel name="email" class="form-control" required email minlength="8">
            <div *ngIf="r.controls['email']?.['touched'] && r.controls['email']?.['errors']" class="invalid">
                <div *ngIf="r.controls['email']?.['errors']?.['required']"> 
                    Email is not required
                
                </div>
           <div *ngIf="r.controls['email']?.['errors']?.['minlength']"> 
                    
                     email is to short
                </div>

            </div>
            <div class="from-group">
                    <label>password</label>
                <input type="password" ngModel name="password" class="form-control" required minlength="8">
                <div *ngIf="r.controls['password']?.['touched'] && r.controls['password']?.['errors']" class="invalid">
                    <div *ngIf="r.controls['password']?.['errors']?.['required']"> 

                  worong password
                    </div>
                    <div *ngIf="r.controls['password']?.['errors']?.['minlength']">
                        To Low

                    </div>

                </div>
            </div>
            <div class="from-group">
                <label> conformpassword</label>
            <input type="password" ngModel name="cpassword" class="form-control">
            </div>
            <div>
    
            <button class="btn btn-primary" (click)="show(r)">sign Up</button> 
            </div>
            
                 
        </div>
              </form>
            </div>
           </div>  -->


<!-- 
         <h1>reactive</h1> 
        <form [formGroup]="login">
         
          userName:   <input type="text" class="form-control w-50 m-2" formControlName="userName" >
         <div *ngIf="login.controls['userName']?.['touched'] && login.controls['userName']?.['errors']" class="invalid">
            <div *ngIf="login.controls['userName']?.['errors']"> 
                is not required
            </div>
         </div>
         password:   <input type="password" class="form-control w-50 m-2" formControlName="password">
         <div *ngIf="login.controls['password']?.['touched']&& login.controls['password']?.['errors']" class="invalid">
            <div *ngIf="login.controls['password']?.['errors']">
                is not required

            </div>

         </div>
         <div>
         <button class="btn btn-primary" (click)="show()">login</button>
         </div>
        </form>  -->
             
        
          
        <router-outlet></router-outlet>
        <p>works</p>
         
             

          